body {
	font: 16px/1.6 serif;
	color: #333;
	background-color: #eee;
}

.container {
	box-sizing: border-box;
	width: 90%;
	min-width: 320px;
	max-width: 960px;
	margin: 0 auto;
	padding: 75px 2em 1em;
}

.main {
	max-width: 800px;
	margin: 0 auto;
}


/* header */

h1, h2, h3 {
	text-align: center;
}

h1 {
	text-shadow: 1px 1px 1px #300, 2px 2px 2px #300;
}

.subtitle {
	margin-top: 1em;
}

cite:before, .subtitle:before {
	content: "";
	display: inline-block;
	width: 1em;
	height:.1em;
	margin-right: .5em;
	vertical-align: .25em;
	background-color: #333;
}

img {
	width: 100%;
}

.img p {
	text-align: right;
}

.img p:before {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border: 10px solid;
	border-color: transparent transparent transparent #777;
	vertical-align: -4px;
}


/* 人物生平 */

.time-line, .evaluation {
	margin-top: 3em;
	padding: 1em 0;
}


li {
	line-height: 2em;
	margin: .5em 0;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

li:last-child {
	padding-bottom: 0;
	border: none;
}

a {
	display: inline-block;
	color: #05f;
	text-decoration: none;
	margin: 0 .2em;
	padding: .2em .4em;
}

a:hover {
	background-color: #7f7f7f;
	box-shadow: 2px 2px 2px #3a3a3a;
	color: #eee;
	border-radius: .5em 0 0 0;
}

.heading2, .heading3 {
	letter-spacing: .5em;
	padding-left: .3em;
}

.heading2 {
	display: table;
	margin: 0 auto 1em auto;
	width: 8em;
	line-height: 3em;
	border-radius: 1em 2em;
	background: -webkit-linear-gradient(left, #333, #aaa);
	background: linear-gradient(90deg, #333, #aaa);
	box-shadow: 2px 2px 2px #333;
	color: #eee;
	text-shadow: 1px 1px 1px #ccc;
}

.heading3 {
	width: 4em;
	line-height: 2em;
	background-color: #ccc;
	box-shadow: -5px 0 2px #333;
	margin-left: 5px;
}

.heading3 ~ .heading3 {
	margin-top: 2em;
}


/* 人物评价 */

blockquote {
	padding: .5em;
	padding-left: 1em;
	border-left: .5em solid #aaa;
	border-right: .5em solid #aaa;
	border-radius: 1em 1em 2em 1em;
	background-color: #ddd;
}

blockquote p {
	margin: 0;
	padding: .5em 1em;
}

blockquote p:last-child {
	text-align: right;
}

cite {
	margin-right: 2.5em;
}


/* 更多信息 */

.infos {
	margin-top: 3em;
}

/* footer */

footer {
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #333;
  padding: 1em;
  margin: 3em 0 0 0;
}

footer span {
  padding: 0 .5em;
  display: inline-block;
  line-height: 15px;
}

footer span:last-of-type {
  border-left: 2px solid #cd5b45;
  padding-left: 1em;
}

#author {
	display: inline-block;
	color: #ffa500;
	width: 4.5em;
	font-size: 16px;
}

#author:hover {
	background-color: rgba(155,155,155,.5);
}